.footer {
    z-index: 5;
    height: 190px;
    width: 100%;
    background-color: #b88917;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0
}

.h3 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Lobster', sans-serif;
}

.txt {
    margin-top: 10px;
    font-weight: lighter;
    font-family: 'Lobster', sans-serif;
    width: 100%;
    text-align: center;
}

.link {
    width: 100%;
    font-family: 'Lobster', sans-serif;
    display: flex;
    margin: 20px 0 10px 0;
    justify-content: center;
}

.codev {
    margin-left: 4px;
    color: black;
    font-style: italic;
}

.codev:hover {
    text-decoration: underline;
}